<div id="playlist">
    {% for show in site.data.shows %}
      {% if forloop.index == 1 %}
        <audio id="mejs" src="{{ show.file }}" type="audio/mp3" controls="controls"></audio>

        <ul class="mejs-list">
          <li data-file="{{ show.file }}" class="current">
            {{ show.date }}, {{ show.location }}, {{ show.set }}
          </li>
      {% else %}
        <li data-file="{{ show.file }}">
          {{ show.date }}, {{ show.location }}, {{ show.set }}
        </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
